#welcome_and_hello {
    clear: both;
    overflow: auto;
}

.wah {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#hello_tag {
    padding-top: 10px;
}

#username_tag {
    margin-bottom: 10px;
}