body {
    text-align: center;
}

#welcome_and_hello {
    clear: both;
    overflow: auto;
}

.wah {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#hello_tag {
    padding-top: 10px;
}

#username_tag {
    margin-bottom: 10px;
}

h1 {
    font-size: 50px;
    line-height: 50px;
}

h2 {
    font-size: 30px;
    line-height: 30px;
}

h3 {
    font-size: 24px;
}